<div class="center">
  <%= will_paginate %>
</div>
<% @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well well-lg center">
          <li>
            <%= link_to gravatar_for(user), user_path(user)  %>
            <h4><%= link_to user.username,user_path(user) %></h4>
            <small><%= pluralize(user.articles.count, "article")%></small>
          </li>
          <% if logged_in? && current_user.admin? %>
            <div class="article-actions">
              <%= link_to "Delete", user_path(user), method: :delete,
                          data: {confirm: "Are you sure you want to delete this user?"},
                          class: "btn btn-xs btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </ul>
<% end %>
<div class="center">
  <%= will_paginate %>
</div>